

.form{
    .form-group{
        .form-filed{
            width: 100%;
            // .title{

            // }
            // .mat-hint{

            // }
        }
    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 15px 0;
    }
}